---
import ProjectLinks from './projectLinks.astro';
import List from './list.astro';

const { project } = Astro.props;
const { name, description, properties } = project;
const imageUrl = `/images/${name}.webp`;
const imageAlt = `${name} project representation`;
---

<div class="flex-grow mt-2 box-border w-full md:w-1/2">
  <div class="bg-gray-100 dark:bg-zinc-800 dark:border-zinc-700 box-border m-1 p-3 h-full border rounded shadow-sm">
    <div>
      <p><span class="font-bold">{name}:</span></p>
      <ProjectLinks project={project} />
    </div>
    <div><img width="1800" height="800" class="border rounded my-2" src={imageUrl} alt={imageAlt} /></div>
    <div>
      <span>О чём:</span>
      <p class="px-5">{description}</p>
      <span>При помощи чего:</span>
      <List points={properties} />
    </div>
  </div>
</div>